script(src="https://unpkg.com/axios/dist/axios.min.js")
script(src="https://kit.fontawesome.com/f473876e2f.js" crossorigin="anonymous")

// Essential javascripts for application to work
script(src='/js/jquery-3.3.1.min.js')
script(src='/js/popper.min.js')
script(src='/js/bootstrap.min.js')

// The javascript plugin to display page loading on top
script(src='/js/plugins/pace.min.js')
script(src="/js/plugins/bootstrap-datepicker.min.js")
script(src="/js/plugins/sweetalert.min.js")
script(src="/js/plugins/moment.min.js")
//- script(src="/js/plugins/tinymce.min.js")
script(src="https://cdn.tiny.cloud/1/x6j069iqu1bsiaflixnzfbq714oj4js7ld73qoccgk1xh0dz/tinymce/6/tinymce.min.js" referrerpolicy="origin")

script(src="/js/plugins/select2.min.js")
script(src="/js/plugins/select2/i18n/vi.js")
script(src='/js/main.js')
